    body{
        margin: 0;
        padding: 0;
        position: relative;
        background-color: white;
    }

    #convite-culto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #convite-culto video {
        box-shadow: 2px 2px 20px #ef8213;
    }


    .container{
        position: relative;
        margin: auto;
        text-align: center;
        max-width: 1500px;
        margin-bottom: 5%;
    }

    h2{
        font-family: 'Poppins', sans-serif;
        background-color: rgba(239, 130, 19, 0.1);
        width: 30%;
        color: #ef8213;
        letter-spacing: 2px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;
    }

    .card{
        margin: 2.5px;
        display: inline-block;
        width: 400px;
        height: 270px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: grayscale(0.6);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3em;
        color: white;
        text-decoration: underline;
        text-shadow: 2px 2px 5px black;
    }

    .card:hover{
        filter: unset;
    }

        a{
        color: white;
    }   

    a:visited{
        color: white;
    }

    p{
        background-color: rgba(229, 229, 229, 0.7);
        width: 85%;
        text-align: center;
        margin: 15px auto;
        border-radius: 10px;
        padding: 15px;
    }


#formatura-teologia{
    background-image: url(../imagens/saiba-mais/formatura\ teologia.jpg);
}

#impacto-jovem{
    background-image: url(../imagens/saiba-mais/impacto-jovem.jpg);
}

#localizacao{
    background-image: url(../imagens/saiba-mais/localizacao.jpg);
}

#infantil{
    background-image: url(../imagens/saiba-mais/infantil.jpg);
}

#acao-social{
    background-image: url(../imagens/saiba-mais/acao-social.jpg);
}


#web-radio{
    background-image: url(../imagens/saiba-mais/radio.jpg);
}

@media screen and (min-width: 1229px){
    .container{
        top: 100px;
        transform: translateY(-10%);
    }

}

@media screen and (max-width: 840px){

    #convite-culto video{
        width: 50%;
    }

    h2{
        width: 35%;
    }
    .container{
        margin: 1.5vh auto;
    }

    .card{
        box-sizing: border-box;
        width: 45vw;
        height: 31vh;
        filter: unset;
        position: relative;
        font-size: 2.5vw;
        color: white;
        font-weight: 700;
        text-shadow: 2px 2px 5px black;
    }

    #web-radio{
        background-image: url(../imagens/saiba-mais/radio-800.jpg);
    }

    #localizacao{
        background-image: url(../imagens/saiba-mais/localizacao-800.jpg);
    }

    p{
        margin: 0;
        padding: 10px;
        width: 40vw;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(229, 229, 229, 0.7);
    }

}

@media screen and (max-width: 600px){

    h2{
        width: 70%;
    }

#formatura-teologia{
    background-image: url(../imagens/saiba-mais/formatura\ teologia-600.jpg);
}

#impacto-jovem{
    background-image: url(../imagens/saiba-mais/impacto-jovem-600.jpg);
}

#localizacao{
    background-image: url(../imagens/saiba-mais/localizacao-600.jpg);
}

#infantil{
    background-image: url(../imagens/saiba-mais/infantil-600.jpg);
}

#acao-social{
    background-image: url(../imagens/saiba-mais/acao-social-600.jpg);
}


#web-radio{
    background-image: url(../imagens/saiba-mais/radio-600.jpg);
}
}
@media screen and (max-width: 510px){

    #convite-culto video{
        width: 70%;
    }

    #web-radio{
        background-image: url(../imagens/saiba-mais/radio-510.jpg);
    }
 
    .card{
        font-size: 4vw;

    }

    p{
        width: 80%;
    }


}